{% extends 'base.html' %}

{% block title %}Feeds{% endblock %}

{%block content%}
<style>
    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #ddd;
        margin: 0 4px;
    }

    .pagination a.active {
        background-color: #0056b3;
        color: white;
        border: 1px solid #0056b3;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }
</style>
<div class="box-content" style="height: 200px;">
    <p>To write a comment, click here ---------></p>
    <div class="box-button">
        <div class="button">
            <form action="/form">
                <button>Go to Form</button>
            </form>
        </div>
    </div>
</div>
<div class="box-search">
    <p style="
    font-size: 36px;
    text-align: center;
    padding-bottom: 15px;
 ">Search</p>
    <form action="/feeds" method="get" style="display: flex;justify-content: center">
        <label style="display: flex;justify-content: left;">
            <input type="search" required name="search" placeholder="Search FeedBacks" class="search">
        </label>
        <input type="submit" required name="find" value="Find"
               style="height: 60px;width: 150px;box-shadow: none;font-size: 20px;margin-top: 9px">
    </form>
</div>

<div class="box-feed" id="comments">
    <p style="
    font-size: 36px;
    text-align: center;
    padding-bottom: 15px;
 ">Comments</p>
    {% if category %}
    {% for comment in category %}
    <div class="box-feed-chill" style="margin-top: 50px">
        <div class="box-comm-chill">
            <div class="user"><p>{{ comment.user }}</p></div>
            <div style="display: flex;justify-content: center">
                <div class="category"><p>Category: {{ comment.category }}</p></div>
                <div class="date"><p>Date Post: {{ comment.date }}</p></div>
            </div>
        </div>
        <p style="padding-bottom: 20px">
            {{ comment.comment }}
        </p>
    </div>
    {% endfor %}
    {% else %}
    <center>
        <p>no comments yet</p>
    </center>
    {% endif %}
    <div style="display: flex;justify-content: center;align-items: center;margin-top: 50px">
        <div class="pagination">
            {% if p > 1 %}
            <a href="feeds?page={{ p-1 }}#comments">&laquo;</a>
            {% endif %}
            {% for page in pages %}
            <a href="feeds?page={{page}}#comments" {% if page== p %}class="active" {% endif %}>{{ page }}</a>
            {% endfor %}
            {% if len > p %}
            <a href="feeds?page={{ p+1 }}#comments">&raquo;</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}