{% extends 'base.html' %}

{% block title %}Feeds{% endblock %}

{%block content%}
<div class="box-content" style="height: 200px;">
    <p>To write a comment, click here ---------></p>
    <div class="box-button">
        <div class="button">
            <form action="/form">
                <button>Go to Form</button>
            </form>
        </div>
    </div>
</div>
<div class="box-search">
    <p style="
    font-size: 36px;
    text-align: center;
    padding-bottom: 15px;
 ">Search</p>
        <form action="/feeds" method="get" style="display: flex;justify-content: center">
            <label style="display: flex;justify-content: left;">
                <input type="search" required name="search" placeholder="Search FeedBacks" class="search">
            </label>
            <input type="submit" required name="find" value="Find" style="height: 60px;width: 150px;box-shadow: none;font-size: 20px;margin-top: 9px">
        </form>
</div>
<p style="font-size: 50px">{{ c }}</p>

{% for comment in category %}
<div class="box-feed">
    <div class="box-feed-chill">
        <div class="box-comm-chill">
            <div class="user"><p>{{ comment.user }}</p></div>
            <div class="category"><p>{{ comment.category }}</p></div>
        </div>
        <p style="padding-bottom: 20px">
            {{ comment.comment }}
        </p>
    </div>
</div>
{% endfor %}
{% endblock %}