{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="box-content">
    <p>Vox Pops International.<br>
        We believe in the power <br>
        of opinions and the <br>
        importance of open dialogue.</p>
    <div class="box-button">
        <div class="button">
            <button>Go to Commnets</button>
        </div>
    </div>
</div>

<div class="box-advantages">
    <p class="title-box">Our Advantages</p>
    <div class="chill">
        <img src="../static/img/comments-regular 1.png" alt="" class="comment-behind">
        <img src="../static/img/text-1.png" alt="">
        <img src="../static/img/text-2.png" alt="">
        <img src="../static/img/text-3.png" alt="">
        <img src="../static/img/text-4.png" alt="">
        <img src="../static/img/text-5.png" alt="">
    </div>
</div>

<div class="box-aboutus" id = "section-about">
    <p class="title-box">About Us</p>
    <div class="chill-about">
        <img src="../static/img/aboutus.png" alt="">
        <img src="../static/img/about.png" alt="">
    </div>
</div>
{% endblock %}